[flake8]
min_python_version = 3.8.0
max-line-length = 88
# Disable long line check and assert usage check in unit test
per-file-ignores = tests/*.py: S101, E501
exclude =
    .git
    __pycache__
    setup.py
    build
    dist
    releases
    .venv
    .tox
    .mypy_cache
    .pytest_cache
    .vscode
    .github
